/* BLAZE TECHNOLOGIES `style.css` | BUILD VERSION 1.0.0 */

/* Global Styles */

body {
    font-family: 'Segoe UI';
    background-color: #EEE;
}

header {
    font-family: 'Arial';
    background-color: #0068B5;
    color: #CBDDEB;
}

nav {
    font-family: 'Trebuchet MS';
    background-color: #1B364C;
    color: #CBDDEB
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-family: 'Arial';
    color: #1976D2;
}

.navlink {
    color: #CBDDEB;
    text-decoration: none;
}

.navlink:visited {
    color: #CBDDEB;
    text-decoration: none;
}

.footerlink {
    color: #244866;
    text-decoration: none;
}

.footerlink:visited {
    color: #244866;
    text-decoration: none;
}