/* PACIFIC TRAILS `style.css` | BUILD VERSION 2.0 */

/* Global Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #666;
}

header {
    /* Background Image */
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    line-height: 400%;
    text-indent: 1em;
    /********************/

    background-color: #002171;
    color: #fff;
}

nav {
    font-weight: bold;
    background-color: #bbdefb;
}

nav a {
    text-decoration: none;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    color: #1976d2;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
    color: #000033;
}

ul {
    list-style-image: url(images/marker.gif);
}

footer {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
}

dt {
    color: #002171;
}

.resort {
    font-weight: bold;
    color: #1976d2;
}

#contact {
    font-size: 90%;
}
