/* PACIFIC TRAILS `style.css` | BUILD VERSION 1.0.0 */

/* Global Styles */

body {
    background-color: #FFF;
    color: #666;
}

header {
    background-color: #002171;
    color: #FFF;
}

nav {
    background-color: #BBDEFB;
}

h1 {
    margin-bottom: 0;
}

h2 {
    color: #1976D2;
}

dt {
    color: #002171;
}

.resort {
    color: #1976D2;
}

/* Global Hyperlink Color */

a { color: #0000FF } 

a:visited {
    text-decoration: none;
    color: #0000FF;
}