/* BLAZE TECHNOLOGIES `style.css` | BUILD VERSION 1.0.0 */

/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI";
    background-image: linear-gradient(#eee, #b1b1b1);
}

header {
    height: 60px;
    padding-top: 0.4em;
    padding-left: 3em;
    font-family: "Arial";
    background-color: #0068b5;
    color: #cbddeb;
}

nav {
    font-family: "Trebuchet MS";
    font-size: 245%;
    font-weight: bold;
    float: left;
    width: 160px;
}

nav a {
    text-decoration: none;
}

nav ul {
    font-size: 0.5em;
    list-style: none;
}

nav a:link {
    color: #333;
}

nav a:visited {
    color: #333;
}

nav a:hover {
    color: rgb(31, 31, 31);
}

main {
    background-color: #fff;
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
}

h1 {
    font-family: "Segoe UI";
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Arial";
    color: #1976d2;
}

h3 {
    font-family: "Arial";
    color: #419af2;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

#svg1 {
    justify-self: center;
}

#contact {
    font-size: 70%;
    font-style: italic;
}

label {
    font-weight: 600;
    margin-bottom: calc(16px * 1.5 / 2);
}

label:after {
    margin-left: 2px;
    color: #ff5252;
    content: "*";
}

/* Behold the mess that is the table styling */

table {
    border: none;
}

textarea {
    width: 100%;
    height: 102px;
    resize: vertical;
}

.tableh1 {
    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #ff365b, #ff9436);
    width: 80px;
    padding: 10px 10px;
}

.tableh2 {
    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #00d4ff, #0062ff);
    width: 80px;
    padding: 10px 10px;
}

.tableh3 {
    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #de2898, #9166ff);
    width: 80px;
    padding: 10px 10px;
}

.cell1 {
    text-align: center;
    color: #ff365b;
}

.cell2 {
    text-align: center;
    color: #009bff;
}

.cell3 {
    text-align: center;
    color: #b747cb;
}

.price1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.price2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.price3 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.feature {
    text-align: center;
}

.container-width {
    position: relative;
    z-index: 99;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.features-container {
    display: grid;
    margin-top: 15px;
}
.features-item__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
}
.features-item__description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 18px;
}

.features-item align-center {
    width: 100%;
    max-width: 250px;
    margin-bottom: 55px;
}
.footerlink {
    color: #244866;
    text-decoration: none;
}

.footerlink:visited {
    color: #244866;
    text-decoration: none;
}

/* Stol-- I mean borrowed the style of the Submit button from
   https://help.descript.com/hc/en-us/requests/new?ticket_form_id=360000846631
*/

input[type="submit"] {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
    color: #fff;
    background-color: rgba(0, 98, 255, 1);
    border-color: #276fd0;
}

input[type="submit"]:hover {
    color: #e0e0e0;
    background-color: #004ecc;
    border-color: #0041a8;
}
